.form {
    width: 80%;
    margin: 30% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color-primary);
}

.form h2 {
    text-align: center;
    padding: 0 5%;
    }

.form form {
    display: flex;
    flex-direction: column;
    margin: 5% auto;
}


.form form input {
    height: 30px;
    width: 200px;
    outline-width: 0;
    font-size: var(--text-size-secondary);
    margin: 5% auto;
    border: none;
    border-radius: 10px;
    align-self: center;
}

.error {
    color: #cc0033;
    font-size: var(--text-size-secondary);
    text-align: center;
    align-self: center;
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    border-radius: 10px;
    width: 45%;
    margin-bottom: 1%;
    padding: 1%;
}

.buttons {
    display: flex;
    width: 300px;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto 5% auto;
    border-top: whitesmoke 1px solid;
    padding-top: 5%;
}

.buttons button {
    height: 30px;
    width: 50%;
    outline-width: 0;
    font-size: var(--text-size-secondary);
    margin: 0 2%;
    border: none;
    border-top: whitesmoke 1px solid;
    border-radius: 10px;
    background-color: var(--button-color-primary);
    color: var(--text-color-primary);
    text-align: center;
    cursor: pointer;
}



.buttons button:hover {
    background-color: var(--bg-color-selected);
    color: var(--text-color-secondary);
    font-weight: 800;
    transition: 300ms ease;
}