.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    position: fixed;
    background-color: var(--bg-color-terciary);
    top: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title {
    text-decoration: none;
    color: var(--text-color-primary);
    padding-left: 15px;
    cursor: pointer;
}

.subTitle{
    position: absolute;
    text-transform: uppercase;
    width: 93%;
    text-align: center;
    padding-bottom: 3px;
    border-bottom: 3px solid whitesmoke;
    top: 70px;
    z-index: 1;
}

.header span {
    color: var(--text-color-secondary);
    cursor: pointer;
}


.catalog {
    width: 100%;
    padding-top: 95px;
    height: auto;
    background-color: var(--bg-color-secondary);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: visible;
    overflow-x: visible;
}