:root {
  --height: 100vh;
  --bg-color-primary: rgba(129, 129, 129, 0.315);
  --bg-color-secondary: #A22C29;
  --bg-color-terciary: rgb(200, 131, 1);
  --bg-color-selected: #f6f2f2e1;
  --text-color-primary: white;
  --text-color-secondary: rgb(231, 47, 47);
  --button-color-primary: rgba(0, 0, 0, 0.726);
  --text-size-primary: 1.5rem;
  --text-size-secondary: 1rem;
}

body {
    background-color: var(--bg-color-secondary);
    color: var(--text-color-primary);
  }
  
  * {
    font-family: "Montserrat", sans-serif;
    margin: 0;
  }

