.landing {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left {
    width: 60%;
    height: var(--height);
    background-image: url(../Utils/Images/bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.left h1 {
    margin-top: 20%;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

.left span {
   color: var(--text-color-secondary);
}

.left p:first-of-type {
    margin-top: 2%;
    font-size: var(--text-size-primary);
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    padding: 0 10%;
 }

 .left p:last-of-type {
    margin-top: 2%;
    font-size: var(--text-size-secondary);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 0 20%;
 }

.right {
    width: 40%;
    height: var(--height);
    background-color: var(--bg-color-secondary);
}

