.logOut {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logOutIcon {
    margin-top: 5px;
    width: 30px;
    object-fit: contain;
    cursor: pointer;
    padding-right: 15px;
    
}

.logOut p {
    font-size: var(--text-size-primary);
    margin-right: 5px;
    cursor: pointer;
    visibility: hidden;
}

.logOut:hover p {
    visibility: visible;
}

