.product {
    width: calc(100% * (1/2) - 10px - 1px);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    flex: 0 1 calc(20% - 8px);
    background-color: var(--bg-color-primary);
    margin: 1%;
    padding-bottom: 1%;
    border: 2px solid gray;
}


.myButton {
    text-decoration: none;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 50%;
    outline-width: 0;
    font-size: var(--text-size-secondary);
    border: none;
    border-top: whitesmoke 1px solid;
    border-radius: 10px;
    background-color: var(--button-color-primary);
    color: var(--text-color-primary);
    text-align: center;
    cursor: pointer;
}

.myButton:hover {
    background-color: var(--bg-color-selected);
    color: var(--text-color-secondary);
    font-weight: 800;
    transition: 300ms ease;
}

.info p {
    margin: 2% 0;
}

.product:hover {
    transition: 1s ease;
    background-color: var(--bg-color-terciary);
}