.product {
    margin: 15% 10%;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--bg-color-primary);
}

.left {
    width: 50%;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
}

.left p {
    margin-top: 3%;
    font-size: var(--text-size-primary);
}

.left img {
    margin-top: 3%;
}

.left h3 {
    margin-top: 2%;
}

.right {
    background-color: var(--bg-color-terciary);
    width: 50%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right h3 {
text-align: center;
margin-top: 2%;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1% 0;
}

.list p:first-of-type {
    width: 100%;
    display: flex;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    font-size: var(--text-size-secondary);
    margin-right: 2%;
    justify-content: center;
}

.list p:last-of-type {
    width: 70%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: var(--text-size-secondary);
    margin-right: 2%;
}

.titles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.buttons button {
    height: 30px;
    width: 80%;
    outline-width: 0;
    font-size: var(--text-size-secondary);
    margin: 0 2%;
    border: none;
    border-top: whitesmoke 1px solid;
    border-radius: 10px;
    background-color: var(--button-color-primary);
    color: var(--text-color-primary);
    text-align: center;
    cursor: pointer;
}


.buttons button:hover {
    background-color: var(--bg-color-selected);
    color: var(--text-color-secondary);
    font-weight: 800;
    transition: 300ms ease;
}

.checkout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 96%;
    align-items: center;
    padding: 2%;
    border-top: 1px solid white;
}

.checkout p  {
    width: 40%;
    align-items: center;
    display: flex;
    font-size: var(--text-size-primary);
    padding: 1% 3%;
}

.checkout p span {
    border: 2px solid white;
    font-size: var(--text-size-primary);
    padding: 1% 3%;
}

.checkout button {
    padding: 1% 3%;
    outline-width: 0;
    font-size: var(--text-size-primary);
    border: none;
    border-top: whitesmoke 1px solid;
    border-radius: 10px;
    background-color: var(--button-color-primary);
    color: var(--text-color-primary);
    text-align: center;
    cursor: pointer;
}

.checkout button:hover {
    background-color: var(--bg-color-selected);
    color: var(--text-color-secondary);
    font-weight: 800;
    transition: 300ms ease;
}